<div class="cards group-cards">
  <% @groups.each do |group| %>
    <div class="card group">
        <p class="card-title" style="color: #7153a0"><%= group.title %></p>
        <p><em>"<%= group.description %>"</em></p>
        <p>Study group created by <%= group.user.name %></p>
        <p><i class="far fa-calendar-alt" style="color: #7153a0; margin-right: 5px;"></i>
        Session on <%= group.timeline %></p>
        <p><i class="fas fa-map-marker-alt" style="color: #7153a0; margin-right: 5px;"></i>
        <%= group.location %></p>
        <p><i class="fas fa-user-friends" style="color: #7153a0; margin-right: 5px;"></i>
        <%= group.members.count %> people</p>
        <div class="btn btn--beta group-details-btn">
        <span><%= link_to 'Details', group %></span>
        </div>
    </div>
  <% end %>
</div>

<div class="grp-create">
  <p>Want to create your own study group?</p>
  <div class="btn btn--beta btn-create">
    <span style="font-family: 'Quicksand'; font-size: 17px;"><%= link_to 'Create new group', new_subject_group_path%></span>
  </div>
</div>

  </tbody>

</table><br>


