<p id="notice"><%= notice %></p>

<div class="cards groups-cards">
  <% @groups.each do |group| %>
    <div class="card">
      <div class="card-body">
        <p class="card-title"><%= group.title %></p>
        <p><%= group.description %></p>
        <p>Organizer: <%= group.organizer %></p>
        <i class="far fa-calendar-alt"></i>
        <%= group.timeline %>
        <i class="fas fa-map-marker-alt"></i>
        <%= group.location %>
        <i class="fas fa-user-friends"></i>
        <%= group.number_of_members %>
        <div>
          <%= group.user_id %>
          <%= group.subject_id %>
        </div>
        <div class="group-infos">
          <%= link_to 'Details', group %>
          <%= link_to 'Edit', edit_group_path(group) %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<%= link_to 'New Group', new_subject_group_path %>

  </tbody>
</table><br>


