<p id="notice"><%= notice %></p>

<h1>Groups</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Organizer</th>
      <th>Timeline</th>
      <th>Location</th>
      <th>Number of members</th>
      <th>User</th>
      <th>Subject</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.title %></td>
        <td><%= group.description %></td>
        <td><%= group.organizer %></td>
        <td><%= group.timeline %></td>
        <td><%= group.location %></td>
        <td><%= group.number_of_members %></td>
        <td><%= group.user_id %></td>
        <td><%= group.subject_id %></td>
        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table><br>

<%= link_to 'New Group', new_subject_group_path %>
