<div class="cards group-cards">
  <% @groups.each do |group| %>
    <div class="group">
      <div class="group-body">
        <p class="card-title"><%= group.title %></p>
        <p><%= group.description %></p>
        <p>Organizer: <%= group.user.name %></p>
        <p><i class="far fa-calendar-alt"></i>
        <%= group.timeline %></p>
        <p><i class="fas fa-map-marker-alt"></i>
        <%= group.location %></p>
        <p><i class="fas fa-user-friends"></i>
        <%= group.members.count %></p>
        <div>
        </div>
        <div class="group-infos">
          <%= link_to 'Details', group %>
          <%= link_to 'Edit', edit_group_path(group) %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="new-grp-btn" style="text-align: center; font-family: Comfortaa; margin-bottom: 50px">
  <%= link_to 'Create New Group', new_subject_group_path, class: "btn btn-dark" %>
</div>

  </tbody>

</table><br>


