<div class="row">
  <div class="col-md-6 col-12">
    <p id="notice"><%= notice %></p>
    <div class="card-detail" style= "text-align: center; font-family: 'Quicksand'; font-size: 20px; margin-top: 60px;">
      <div class="card-head show-head">
        <p class="card-title" style="font-size: 35px; color: #7153A0"><%= @group.title %></p>
        <p><em>- <%= @group.description %> -</em></p>
      </div>

      <p><i class="far fa-calendar-alt" style="padding-right: 8px; color: #7153a0"></i>Session on <%= @group.timeline %></p>

      <p><i class="fas fa-map-marker-alt" style="padding-right: 8px; color: #7153a0"></i><%= @group.location %></p>
      <p><i class="fas fa-user-friends" style="padding-right: 8px; color: #7153a0"></i><%= @group.members.count %> people</p>

      <p>Study group created by <strong><%= @group.user.name %></strong> for <strong><%= @group.subject.name %></strong></p>

      <% if %>
      <% !(@group.group_members.include? current_user) %>
      <div class="btn btn--beta" style="margin-top: 110px;"><span><%= button_to "Join the group!", join_group_path(@group), remote: true %></span></div>
      <% end %>
    </div>

    <%# @groups.each do |group| %>
      <%# if policy(group).edit? %>
        <%#= link_to "Update", edit_group_path(group) %>
      <%# end %>
    <%# end %>
  </div>

  <div class="col-md-6 col-12">
    <div class="map-container" style="margin-bottom: 150px;">

      <div id='map' style='width: 700px; height: 86vh;;'></div>

        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />

       <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoiam1hbmppZSIsImEiOiJjazNxdWt4MXAwNWx3M2JuM25oNXF3NDJyIn0.tc2b3Sv_UnYFimYEL0wuJw';
        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v10',
            // center: [longitude, latitude],
            zoom: 8
        });
        const marker = <%= raw @group.to_json %>
        new mapboxgl.Marker()
          .setLngLat([ marker.longitude, marker.latitude ])
        .addTo(map);
      </script>
    </div>
  </div>
</div>

<div class="comments" style= "margin: 0 auto; width: 700px; padding-top: 50px; padding-bottom: 50px; background-color: #bac0e2; border-radius: 15px 50px 30px">
  <div class="comments-content" style="font-family: 'Quicksand'; width: 700px; margin: 0 auto; text-align: center; padding: 10px 15px 40px 15px;">
    <%= render 'comments/form', comments: @comments %>
  </div>

  <div class="reviews-users" style="border-top: 1px solid #7783c6; width: 600px; margin: 0 auto; font-family: 'Quicksand'">
    <p style="text-align: center; margin-top: 50px; font-size: 20px; color: #A88BD5; font-weight: bold;">Reviews by other members:</p>
    <div class="comments-container" style= "text-align: center;">
      <% @group.comments.each do |comment| %>
        <div class="comment-body" style="padding: 5px;">
          <em>"<%= comment.content %>"</em> - by <%= current_user.name %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
/**
  const AddGroupMemberOnClick = () => {
    const button = document.querySelector('.button_to');
      button.addEventListener('click', (event) => {


        @group.members.name = current_user
      });
  }

  AddGroupMemberOnClick();
  **/
</script>
