<div class="show-container">

  <p id="notice"><%= notice %></p>

  <h3><%= @group.title %></h3>

  <p><%= @group.description %></p>

  <p><i class="far fa-calendar-alt"></i><%= @group.timeline %></p>

  <p><i class="fas fa-map-marker-alt"></i><%= @group.location %></p>
  <p><i class="fas fa-user-friends"></i><%= @group.members.count %></p>

  <p>Created by: <%= @group.user.name %></p>

  <p><%= @group.subject.name %></p>

  <%= link_to 'Edit', edit_group_path(@group) %>
  <!-- <%#= link_to 'Back', subject_groups_path %> -->

</div>
