<div class="banner">
  <nav class="navbar">
    <h2>LearnUp</h2>
  </nav>

  <div class="banner-container">
    <h1>Find your perfect buddies</h1>
    <p>Work more efficiently</p>
  </div>
</div>

<!-- <div class="card-columns subjects-cards">
  <% @subjects.each do |subject| %>
    <div class="card">
      <div class="card-body">
        <p class="card-title"><%= subject.name %></p>
        <p><%= subject.category %></p>
        <div class="card-infos">
          <p>Number of learners: <%= subject.number_of_learners %></p>
        </div>
      </div>
    </div>
  <% end %>
</div> -->

<div class="cards subjects-cards">
  <% @subjects.each do |subject| %>
    <div class="card">
      <div class="card-body">
        <p class="card-title"><%= subject.name %></p>
        <p><%= subject.category %></p>
        <div class="card-infos">
          <p>Number of learners: <%= subject.number_of_learners %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>



<footer>
  <p class="copyright">Copyright Le Wagon.</p>
  <p>Contact info: </p>
</footer>
