<p id="notice"><%= notice %></p>

<h1>Subjects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Number of learners</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.name %></td>
        <td><%= subject.category %></td>
        <td><%= subject.number_of_learners %></td>
<<<<<<< HEAD
        <td><%= link_to 'Show', subject %></td>
<!--         <td><%#= link_to 'Edit', edit_subject_path(subject) %></td>
 -->        <td><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
=======
        <td><%= link_to 'Show', subject_groups_path %></td>
        <!-- <td><%#= link_to 'Edit', edit_subject_path(subject) %></td> -->
        <td><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
>>>>>>> b880cf59212395347e5d4560edc3ed7a2d3cd466
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subject', new_subject_path %>
